@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.custom-ml {
  margin-left: 65rem;
}

.custom-w{
  width: 52rem;
}
.custom-w2{
  width: 30rem;
}

.custom-mt {
  margin-top: 35rem;
}
.custom-mt2 {
  margin-top: 70rem;
}

